.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #000;

  .description {
    position: absolute;
    top: 35%;
    left: 65%;
    color: white;
    font-size: 24px;
    font-weight: 300;
    p {
      margin: 0px;
      margin-bottom: 10px;
    }
    svg {
      transform: scale(2);
      margin-bottom: 100px;
    }
  }
}
