@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@custom-variant dark (&:is(.dark *));

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

:root {
  --background: #fff; /* Background color */
  --heading: #000; /* Heading color */
  --text: #52525b; /* Sections text color */
  --newsletter-background: #f9f9f9; /* Newsletter subscribe background color */
  --newsletter-button-bg: #222; /* Newsletter subscribe button color */
  --newsletter-button-text: #fff; /* Newsletter subscribe button text color */
}

.dark {
  --background: #111111; /* Background color */
  --heading: #fff; /* Heading color */
  --text: #b4b4b4; /* Sections text color */
  --newsletter-background: #191919; /* Newsletter subscribe background color */
  --newsletter-button-bg: #f0f0f0; /* Newsletter subscribe button color */
  --newsletter-button-text: #000; /* Newsletter subscribe button text color */
}

::selection {
  background-color: #00f; /* Blue background */
  color: white; /* White text */
}

::-moz-selection {
  background-color: #00f; /* Blue background for Firefox */
  color: white; /* White text */
}
